# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Folder output sementara Streamlit
temp_streamlit_outputs/
temp_streamlit_processing_files/

# File environment virtual
venv/
.venv/
env/
.env

# File sistem operasi
.DS_Store
Thumbs.db